.card {
  width: 100%;
  background: rgba(0, 236, 222, 0.05);
  /* 辅-亮绿 */

  border: 0.5px solid rgba(0, 208, 236, 0.5);
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(24, 255, 241, 0.3);
}
.card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 25px rgba(0, 236, 222, 0.35),
    inset 0px 0px 15px rgba(24, 255, 241, 0.3);
  cursor: pointer;
}

.cover{
  width: 140px;
  height: 140px;
}

.content{
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 40px 20px 20px;
}
.header{
  
}

.btn{
  width: 75px;
  height: 32px;
  background-color: rgba(0, 208, 236, 1);
  color: rgba(15, 25, 27, 1);
}
.btn:hover{
  background-color: rgba(27, 241, 255, 1);
}
.btn:active{
  background-color: rgba(0, 171, 194, 1);
}
.time{
  color: rgba(221, 221, 221, 1);
}

.description{
  margin-top: 20px;
  color: rgba(170, 170, 170, 1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}