.card {
  max-width: 385px;
  background: rgba(0, 236, 222, 0.05);
  /* 辅-亮绿 */

  border: 0.5px solid #00d0ec;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 15px rgba(24, 255, 241, 0.3);
}
.card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 25px rgba(0, 236, 222, 0.35),
    inset 0px 0px 15px rgba(24, 255, 241, 0.3);
  cursor: pointer;
}

.imgContanier {
  width: 100%;
  height: 150px;
  position: relative;
}
.content {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.icon {
  width: 38px;
  height: 38px;
  border-radius: 20px;
}

.icon:hover{
  filter: brightness(150%);
}

.icon:active{
  filter: brightness(50%);
}

.tag {
  position: absolute;
  height: 32px;
  left: 0px;
  top: 0px;
  /* 第二套/背景色 */
  background: rgba(0, 208, 236, 0.5);
  border-bottom-right-radius: 15px;
  color: rgba(17, 26, 27, 1);
  padding-left: 10px;
  padding-right: 14px;
}

.img {
  width: 100%;
  height: 100%;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
