.baseBtn {
  width: 26px;
  height: 26px;
  background: rgba(0, 208, 236, 0.1);
  /* 辅-亮绿 */
  box-sizing: border-box;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.baseBtn:hover,
.active {
  color: #fff;
}

.active {
  border: 0.5px solid #00d0ec;
}

.jump {
  width: 32px;
  height: 26px;
  background: rgba(0, 208, 236, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  caret-color: #00D0EC;
  outline: black;
  color: #fff;
  overflow: hidden;
  text-align: center;
}
.jump:hover, .jump:focus{
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}