.active {
  color: #fff;
  background-color: rgba(0, 236, 222, 0.05);
  border: 0.5px solid #00d0ec;
  border-bottom: transparent;
}

.normal {
  color: #aaa;
  border-bottom: 0.5px solid #00d0ec;
}

.active > .canHover,
.canHover:hover {
  color: #fff;
  transform: scale(1.1);
  cursor: pointer;
}
.tabIcon {
  width: 47px;
  height: 47px;
  border-radius: 20px;
}
