.swiper{
  margin: 0px !important;
}

.slide {
  width: auto !important;
  color: rgba(221, 221, 221, 0.5);
  cursor: pointer;
  font-weight: 400;
}
.active,
.slide:hover,
.slide:active {
  background: rgba(0, 208, 236, 0.1);
  /* 辅-亮绿 */
  border: 1px solid #00d0ec;
  color: rgba(221, 221, 221, 1);
  border-radius: 2px;
  font-weight: 600;
}

.title {
  position: absolute;
  bottom: 0px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  width: 90px;
  height: 44px;
  background: linear-gradient(270deg, #0f191b 4.81%, rgba(15, 25, 27, 0) 150.96%);
  right: 0;
  cursor: pointer;
}

.per {
  width: 90px;
  height: 44px;
  background: linear-gradient(90deg, #0f191b 4.81%, rgba(15, 25, 27, 0) 150.96%);
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon:hover{
  filter: brightness(125%);
}
.icon:active{
  filter: brightness(75%);
}